body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 15px;
}

.nav-atas {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
}

.nav-atas:hover {
  color: yellow;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}

p {
  width: 70%;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.6;
  text-align: left;
}