body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

nav {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

.nav-atas {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
}

.nav-atas:hover {
  color: yellow;
}

.profile {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

h1 {
  color: #333;
}

article {
  width: 70%;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

table {
  background-color: white;
  border-collapse: collapse;
}

th {
  background-color: #333;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 15px;
}