body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

nav {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

.nav-atas {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
}

.nav-atas:hover {
  color: yellow;
}

form {
  width: 320px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

legend {
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

p {
  margin-bottom: 12px;
}

label {
  display: block;